<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" >Recetas Clasicas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-title>Hamburguesas con Papas</ion-card-title>
    <img src="https://st2.depositphotos.com/2723423/9878/i/450/depositphotos_98782232-stock-photo-big-cheeseburger-with-french-fries.jpg" alt="Hamburguesas con Papas">
    <ion-card-content>
      <p><strong>Ingredientes:</strong></p>
      <ul>
        <li>500g de carne molida de res</li>
        <li>Pan para hamburguesa</li>
        <li>Lechuga, tomate, cebolla (opcional)</li>
        <li>Condimentos: sal, pimienta, ajo en polvo, comino</li>
        <li>Papas para acompañar</li>
      </ul>

      <p><strong>Pasos:</strong></p>
      <ol>
        <li>Pela y corta las papas en bastones. Cocina las papas en agua con sal hasta que estén tiernas. Luego, escúrrelas y reserva.</li>
        <li>En un tazón, mezcla la carne molida con los condimentos. Forma hamburguesas del tamaño deseado.</li>
        <li>Cocina las hamburguesas a la parrilla o en una sartén caliente hasta que estén bien cocidas.</li>
        <li>Tuesta ligeramente los panes para hamburguesa.</li>
        <li>Arma las hamburguesas colocando las hamburguesas cocidas en los panes y añadiendo lechuga, tomate, cebolla u otros ingredientes de tu elección.</li>
        <li>Sirve las hamburguesas con las papas cocidas. ¡Disfruta de tu deliciosa comida!</li>
      </ol>
    </ion-card-content>
  </ion-card>
</ion-content>
